<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZD1.Properties.Settings.Zakaz" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=C:\USERS\ASUS\SOURCE\REPOS\ZD\ZD\ZD.MDF;Integrated Security=True" />
        <add name="ZD1.Properties.Settings.C__USERS_ASUS_SOURCE_REPOS_ZD_ZD_ZD_MDFConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=C:\USERS\ASUS\SOURCE\REPOS\ZD\ZD\ZD.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
</configuration>